body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fdfaf6;
  margin-bottom: 100px;
}
.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #faf1e6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #e4efe7 0%, #064420 100%);
  animation: spin 0.5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #faf1e6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  background-color: #faf1e6;
  width: 100%;
  position: fixed;
  color: #ffffff;
  z-index: 1;
  top: 0;
  list-style: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.navbar > li {
  padding: 0px 0px 0 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #064420;
  float: left;
}
#navLogo {
  font-size: 40px;
  float: left;
}
.fa-sun-haze--fa-secondary-color {
  color: rgb(194, 43, 43);
}
#searchHolder {
  margin: 3px 0 0 0;
}
#textInput {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  border-width: thin;
  padding: 10px 100px 10px 10px;
}
#searchButton {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  background-color: #064420;
  border-width: thin;
  color: #fdfaf6;
  padding: 11px 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.25s;
}
#searchButton:hover {
  background-color: #0a6d33;
}
#convertButton {
  float: right;
  margin: 0 100px 0 0;
  padding: 10px;
  padding: 8px 100px;
  font-size: 20px;
  background-color: #064420;
  color: #fdfaf6;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
#convertButton:hover {
  background-color: #0a6d33;
}

#grid {
  display: grid;
  grid-template-columns: [col] 1fr [col] 1fr;
  grid-template-rows: [row] auto [row] auto [row] auto [row] auto;
  text-align: center;
}

#mainTemperature {
  font-size: 5em;
  font-weight: 500;
  padding-left: 30px;
  margin: 0;
}
.city {
  color: #064420;
}

.description {
  grid-column: col / span 2;
  grid-row: row 2;
  background-color: #e4efe7;
}
.description h2 {
  margin: 50px 0 50px 0;
}
#data {
  margin: 50px 0 50px 0;
}

#forecastHolder {
  width: 49%;
  height: 250px;
  position: absolute;
  display: flex;
  margin-top: 15px;
  border-style: solid;
  border-width: thin;
  border-color: #064420;
  border-left: none;
  border-right: none;
  overflow-x: scroll;
}
.forecast {
  margin-left: 20px;
  margin-right: 20px;
}
.time {
  width: 100px;
  font-weight: bold;
}
.rain {
  color: #185adb;
}
.temp {
  font-size: 20px;
}
#minMaxHolder {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
#dataDisplay {
  grid-column: col / span 2;
  grid-row: row 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #e4efe7;
  padding: 50px 100px 50px 100px;
}
.dataType {
  color: #064420;
  font-size: 20px;
  font-weight: lighter;
}
.data {
  color: #064420;
  font-size: 25px;
}
#weeklyDisplay {
  grid-column: col / span 2;
  grid-row: row 4;
  display: grid;
  margin-left: 20em;
  margin-right: 20em;
}
.weekHold {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  border-bottom: inset;
  border-bottom-color: #e4efe7;
}
#weekHolder0 {
  color: #064420;
}
.week {
  margin-left: auto;
  margin-right: auto;
}
.weekTemp {
  display: flex;
  gap: 8px;
}
#copyrightHolder {
  display: block;
  width: 100%;
  max-width: auto;
  padding: 0 60px;
  margin: 0 auto;
  border: 1px solid #111111;
  background-color: #111111;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
#copyright {
  display: block;
  width: 100%;
  height: 40px;
  padding: 20px 0;
}

#copyright > #copyrightText {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
}

#copyrightText::before {
  content: "COPYRIGHT \00a9  JAMES LO 2021";
}

#links {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#links > li {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

#links > li a {
  color: #ffffff;
  font-size: 30px;
  margin-left: 15px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.float.left {
  float: left;
}

.float.right {
  float: right;
}

@media all and (max-width: 1320px) {
  #navLogo {
    font-size: 40px;
    float: none;
  }
  .navbar {
    background-color: #faf1e6;
    width: 100%;
    position: fixed;
    color: #ffffff;
    z-index: 1;
    top: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
  }
  .navbar > li {
    padding: 0;
    font-size: 40px;
    font-weight: bolder;
    color: #064420;
    float: none;
  }
  #textInput {
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    border-width: thin;
    padding: 8px 80px 10px 8px;
  }
  #convertButton {
    float: none;
    margin: 10px 0 0 0;
    padding: 10px;
    padding: 8px 100px;
    font-size: 20px;
    background-color: #064420;
    color: #fdfaf6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  #grid {
    display: block;
    grid-template-rows: [row] auto [row] auto [row] auto [row] auto;
    text-align: center;
  }
  #cityDiv {
    margin-top: 250px;
  }
  #forecastHolder {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 15px;
    border-style: solid;
    border-width: thin;
    border-color: #064420;
    border-left: none;
    border-right: none;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
  }
  .description h2 {
    margin: 0;
    padding: 20px 0 20px 0;
  }
  #dataDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e4efe7;
    padding: 0;
  }
  #weeklyDisplay {
    margin: 0;
  }
  .weekHold {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: inset;
    border-bottom-color: #e4efe7;
  }
  h2[id^="weekRain"] {
    display: none;
  }
  h2[id^="weekHumid"] {
    display: none;
  }
  #copyright {
    display: inline-flex;
    width: 100%;
    height: 40px;
    padding: 20px 0;
  }
  #copyright > #copyrightText {
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
  }
}
